/* Body styles
--------------------------------------------------- */
body {
  font-family: 'Lato', sans-serif;
}

/* Navigation bar styles
--------------------------------------------------- */
.nav {
  padding: 25px 0 25px 40px;
}

.nav-brand {
  margin: 0 40px;
}

.nav-item {
  padding-top: 25px;
}

a {
  color: #000;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

a:hover {
  color: #000;
}

/* Jumbotron styles
--------------------------------------------------- */
.bg-cover {
  background: url('../images/good-food.png') no-repeat;
  background-size: 43%;
  background-position: 50% 50%;
  position: relative;
  margin-bottom: 0;
  /* z-index: -2; */
}

.overlay {
  background-color: #000;
  opacity: 0.75;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.jumbotron-text-container {
  text-align: center;
  padding-top: 15%;
  padding-bottom: 15%;
  /* padding-right: 60px; */
}

.display-4 {
  color: #fff;
  font-weight: 700;
  font-size: 46px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.jumbo-btn {
  color: #000;
  background-color: #01ffcb;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-radius: 5px;
  padding: 17px 45px;
  margin-top: 20px;
}

/* Menu Container styles
--------------------------------------------------- */
section {
  background-color: #01ffcb;
  padding: 50px;
  padding-bottom: 50px;
}

.menu-title {
  margin-bottom: 50px;
}

h2 {
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.bg-container {
  background-color: #fff;
  border-radius: 5px;
  height: 350px;
  width: 350px;
  margin: 0 10px;
  padding-top: 80px;
  box-shadow: 0px 0px 8px 0px #9d9d9dbf;
}

img.img-burger {
  width: 183px;
  height: 141px;
}

img.img-sandwich {
  width: 198px;
  height: 144px;
  margin-bottom: -3px;
}

img.img-hotdog {
  width: 195px;
  height: 139px;
  margin-bottom: 3px;
}

h4 {
  color: #000;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 30px;
}

/* Media Queries
--------------------------------------------------- */

/* Max Width (991px) */

@media only screen and (max-width: 991px) {
  
  .bg-container {
    background-color: #fff;
    border-radius: 5px;
    height: 250px;
    width: 223px;
    margin: 0 10px;
    padding-top: 55px;
    box-shadow: 0px 0px 8px 0px #9d9d9dbf;
  }

  img.img-burger {
    width: 143px;
    height: 101px;
  }
  
  img.img-sandwich {
    width: 158px;
    height: 104px;
    margin-bottom: -3px;
  }
  
  img.img-hotdog {
    width: 155px;
    height: 99px;
    margin-bottom: 3px;
  }

  h4 {
    color: #000;
    font-weight: 700;
    font-size: 17px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
  }
}

/* Max Width (767px) */

@media only screen and (max-width: 767px) {
  
  .col-sm {
    flex-basis: auto;
  }

  .menu-title {
    margin-bottom: 40px;
  }

  .bg-container {
    background-color: #fff;
    border-radius: 5px;
    height: 275px;
    width: 100%;
    margin: 10px 0;
    padding-top: 47px;
    box-shadow: 0px 0px 8px 0px #9d9d9dbf;
  }

  img.img-burger {
    width: 173px;
    height: 131px;
  }
  
  img.img-sandwich {
    width: 188px;
    height: 134px;
    margin-bottom: -3px;
  }
  
  img.img-hotdog {
    width: 185px;
    height: 129px;
    margin-bottom: 3px;
  }

  h4 {
    color: #000;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
  }
}

/* Max Width (458px) */

@media only screen and (max-width: 458px) {
  
  .col-sm {
    flex-basis: auto;
  }

  .menu-title {
    margin-bottom: 40px;
  }

  .bg-container {
    background-color: #fff;
    border-radius: 5px;
    height: 275px;
    width: 100%;
    margin: 10px 0;
    padding-top: 60px;
    box-shadow: 0px 0px 8px 0px #9d9d9dbf;
  }

  img.img-burger {
    width: 153px;
    height: 111px;
  }
  
  img.img-sandwich {
    width: 168px;
    height: 114px;
    margin-bottom: -3px;
  }
  
  img.img-hotdog {
    width: 165px;
    height: 109px;
    margin-bottom: 3px;
  }

  h4 {
    color: #000;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-top: 30px;
  }
}